* {
    box-sizing: border-box;
}

/* styles.css */

body{
            width: 100%;
            height: 1000px;
            background: linear-gradient(to bottom right, #000, #2073c2 60%, #dff6ff);
            overflow: hidden;
        }
        span{
            display: block;
            position: absolute;
            border-radius: 50%;
        }

header {
    background-color: #470125;
    color: white;
    padding: 1em;
    text-align: center;
}
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.feature, .screenshot {
    margin-bottom: 1em;
}

.feature img, .screenshot img {
    width: 100%;
    height: auto;
}


video {
    width: 100%; /* 视频宽度与容器相同 */
    height: auto; /* 高度自动调整 */
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links a {
    color: #666;
    text-decoration: none;
}
footer {
    background-color: #470125;
    color: white;
    text-align: center;
    padding: 1em;
}

button {
    background-color: #9A347C;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9A347C;
}
